/* SECREEN WIDTH 1024px MAX */

@media only screen and (max-width: 1024px) {

  /* HEADER */
  #header-img img { width: 75%; margin-top: 120px; margin-left: 0px; }
  #prices { margin-top: 0px; margin-left: -360px; }
  #header-text { margin-top: -500px; margin-left: 350px; }

  /* FORM */
  #form { padding: 50px 150px; }

  /* MAS FUNCIONALIDADES */
  #feature-lg p { font-size: 0.7rem; }
}



/* SECREEN WIDTH 768px MAX */

@media only screen and (max-width: 768px) {
  #header-text { margin-top: -650px; margin-left: 250px; }
  #header-img img { width: 90%; margin-top: 150px; margin-left: 0px; }
  #prices { margin-top: 180px; margin-left: -260px; }
  #feature-lg { display: none;}
  #features-description { display:  inherit; }
  #features { background: url('../img/nubicam-app.jpg') no-repeat center center; background-size: cover; background-position: 100% top; height: 700px; }
  .icon-nubicam { width: 50%; margin-top: 25px; }
  .text-icon-nubicam { text-align: center; font-size: 1.3rem;}
  #slider-lg { display: none; }
  #slider-section { display: inherit; }
  #slider-section h2 { text-align: center !important; font-size: 3rem;}
  .carousel-indicators { top: 800px; }
  .carousel-indicators li { background-color: #03A9F4; }
  .carousel-indicators li::after { border-top: 1px solid #03A9F4; }
  .carousel-caption { color: #666666 !important; }
  .carousel-inner > .item { position: relative; max-height: 600px; }
  .carousel-caption { position: absolute; top: 400px; }
  .carousel-caption h3 { text-transform: uppercase; font-size: 2.5rem; margin-top: 50px; }
  .carousel-caption p { font-size: 1.5rem; }
  .before-title { font-weight: 300; font-size: 1.5rem; text-transform: uppercase; color: #03A9F4; }
  .carousel-control-next, .carousel-control-prev { top: -500px; }
  .text-icon-nubicam { text-align: center; font-size: 1.8rem; margin-top: 20px; margin-bottom: 20px;}
  #before-footer img { width: 80%; margin-top: 150px; margin-bottom: 0px; margin-left: 0px; }

}

/* SECREEN WIDTH 668px MAX */

@media only screen and (max-width: 668px) {
  #header-text { margin-top: -620px; margin-left: 250px; }
  #header-img img { width: 50%; margin-top: 160px; margin-left: 0px; }
  #prices { margin-top: 180px; margin-left: -260px; }
  #slider-section h2 { font-size: 2rem;}
  .carousel-indicators { top: 600px; }
  .carousel-inner > .item { position: relative; max-height: 600px; }
  .carousel-caption { position: absolute; top: 300px; }
  .carousel-caption h3 { text-transform: uppercase; font-size: 2rem; margin-top: 50px; }
  .carousel-caption p { font-size: 1rem; }
  .before-title { font-weight: 300; font-size: 1rem; text-transform: uppercase; color: #03A9F4; }
  .carousel-control-next, .carousel-control-prev { top: -250px; }
  #before-footer img { width: 40%; margin-top: -300px; margin-bottom: 0px; margin-left: 380px; }

}



/* SECREEN WIDTH 480px MAX */

@media only screen and (max-width: 480px) {

/* NAV */
  #cta-nav-desktop { display: none; }
  #cta-nav-mobile { display: inherit; }
  #cta-nav-mobile i { margin-right: 5px; }
  .navbar-brand img { width: 125px; }

/* HEADER */
  #home-section { height: 300px; }
  #header-img img { width: 55%; margin-top: 100px; margin-left: -30px; }
  #header-text { margin-top: -260px; margin-left: 140px; color: white; }
  #header-text h1 { font-size: 2rem; }
  #header-text .text-line { font-size: 1rem; }
  #home-footer { display: inherit; background-color: #F2F2F2; box-shadow: 2px 2px 40px rgba(0,0,0,0.2); }
  #prices { display: none; }
  #btn-cta { display: none; }
  .before-price { text-align: right; margin-top: 10px; margin-right: 70px; font-size: 1.5rem; color: #ADADAD; text-decoration: line-through; font-weight: 300; opacity: 0.7; }
  .after-price { text-align: right; font-size: 2.5rem; color: #03A9F4; font-weight: 400; margin-top: -30px; }
  .dollar { font-size: 2rem; }
  .final { color: #666666; font-size: 1.2rem; text-transform: uppercase; }

/* FORM */
  #form { padding: 20px; }
  form p { font-size: 0.8rem; }

/* SLIDER */
  #slider-lg { display: none; }
  #slider-section { display: inherit; }
  #slider-section h2 { text-align: center !important; font-size: 1.5rem;}
  .carousel-indicators { top: 525px; }
  .carousel-indicators li { background-color: #03A9F4; }
  .carousel-indicators li::after { border-top: 1px solid #03A9F4; }
  .carousel-caption { color: #666666 !important; }
  .carousel-inner > .item { position: relative; max-height: 600px; }
  .carousel-caption { position: absolute; top: 220px; }
  .carousel-caption h3 { text-transform: uppercase; font-size: 1.5rem; margin-top: 50px; }
  .carousel-caption p { font-size: 1rem; }
  .before-title { font-weight: 300; font-size: 1rem; text-transform: uppercase; color: #03A9F4; }
  .carousel-control-next, .carousel-control-prev { top: -250px; }

/* FEATURES */
  #feature-lg { display: none; }
  #features-description { display:  inherit; }
  #features { background: url('../img/nubicam-app.jpg') no-repeat center center; background-size: cover; background-position: 100% top; height: 400px; }
  .icon-nubicam { width: 50%; margin-top: 25px; }
  .text-icon-nubicam { text-align: center; font-size: 1.3rem;}

/* FOOTER */
  #before-footer { height: 300px; }
  #before-footer h2 { font-size: 1.7rem; margin-top: 160px; padding-left: 20px;}
  #before-footer p { font-size: 1.2rem; text-align: left; color: #ffffff; }
  #before-footer img { width: 40%; margin-top: -180px; margin-bottom: 20px; margin-left: 220px; }
  #bar-before-footer { display: inherit; margin-top: -90px; background-color: #F2F2F2; box-shadow: 2px 2px 40px rgba(0,0,0,0.2); height: 90px; z-index: -2; }
  #bar-before-footer form { margin-top: 25px; text-transform: uppercase; }
  #footer-button { display: none; }
  footer { background-color: #ffffff; margin-top: 120px; margin-bottom: 20px; font-size: 0.8rem; text-align: center; }

}

/* SECREEN WIDTH 360px MAX */

@media only screen and (max-width: 360px) {

  .navbar-brand img { width: 100px; }

  #header-text { margin-top: -180px; margin-left: 120px; }
  #header-text h1 { font-size: 1.4rem; }
  #header-text .text-line { font-size: 0.8rem; }

  #form h2, #slider-section h2 { font-size: 1.2rem;}

  /* SLIDER */
  .carousel-indicators { top: 400px; }
  .carousel-indicators li { background-color: #03A9F4; }
  .carousel-indicators li::after { border-top: 1px solid #03A9F4; }
  .carousel-caption { color: #666666 !important; }
  .carousel-inner > .item { position: relative; max-height: 600px; }
  .carousel-caption { position: absolute; top: 150px; }
  .carousel-caption h3 { text-transform: uppercase; font-size: 1.2rem; margin-top: 50px; }
  .carousel-caption p { font-size: 0.8rem; }
  .before-title { font-weight: 300; font-size: 1rem; text-transform: uppercase; color: #03A9F4; }
  .carousel-control-next, .carousel-control-prev { top: -250px; }
  .text-icon-nubicam { font-size: 1rem;}

  /* FOOTER */
  #before-footer img { width: 40%; margin-top: -160px; margin-bottom: 20px; margin-left: 180px; }
  #bar-before-footer { display: inherit; margin-top: -40px; }
  #bar-before-footer form { display: inherit; margin-top: 5px; text-transform: uppercase; }
  #before-footer p { font-size: 1rem; }
  footer { background-color: #ffffff; margin-top: 120px; margin-bottom: 20px; font-size: 0.8rem; text-align: center; }

}
